*,
*::before,
*::after {
    /* margin: 0;
  padding: 0; */
    box-sizing: border-box;
}

/* 
body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
} */

body {
    background-color: rgb(255 243 243 / 25%);
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: #fff;
}

main .title {
    padding: 20px;
    background-image: url(../img/couche_soleil.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


main .title h1 {
    /* color: #DB0F00; */
    color: white;
    text-align: left;
    font-family: sans-serif;
    margin-top: 95px;
    font-size: 54px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

main .title .AST {
    margin-top: 20px;
}

main .title h3 {
    /* color: #DB0F00; */
    color: white;
    text-align: center;
    font-family: sans-serif;
    /* margin-top: 95px;
    font-size: 50px; */
    text-transform: uppercase;
}

main .title img {
    height: 120px;
    width: 90px;
    display: block;
    margin: auto;
}

main .content {
    position: relative;
    z-index: 1;
}

main .content p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;

}

/* .button-container {
    margin-top: 45px;
}

.btn_contact {
    padding: 15px;
    color: white;
    background-color: #DB0F00;
    text-decoration: none;
    border-radius: 5px;
    font-family: sans-serif;
}

.btn_joindre {
    padding: 15px;
    color: #DB0F00;
    text-decoration: none;
    border-radius: 6px;
    background-color: white;
    font-family: sans-serif;
    margin-left: 12px;
} */

main .title .content svg {
    fill: white;
    display: block;
    margin: auto;
    width: 32px;
    position: absolute;
    bottom: -60%;
    left: 50%;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background: #DB0F00;
    padding: 100px 0;
    color: white;
    font-family: sans-serif;
    display: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

/* Histoire */

.grid {
    margin: 10px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.histoire {
    margin: 100px;
    padding: 50px;
    color: black;
    font-size: 50px;
    border: 2px solid #DB0F00;
    text-decoration: none;
}


/* TEST BTN */
.button {
    display: inline-block;
    max-width: 20rem;
    margin: 0 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

}

.shape {
    fill: transparent;
    stroke: red;
    stroke-dasharray: 120 500;
    stroke-dashoffset: -454;
    stroke-width: 8px;
    transition:
        stroke-width 0.9s,
        stroke-dashoffset 0.9s,
        stroke-dasharray 0.9s;
}

.text {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    color: #DB0F00;
    top: -3rem;
    position: relative;
    pointer-events: none;
}

.shape:hover {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* *,
*::after,
*::before{
    box-sizing: border-box;
} */


.timeline {
    display: none;
}

.timeline ul {
    background: #456990;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #e82c1f;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #e82c1f transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #e82c1f;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #e82c1f;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li.in-view div {
    visibility: visible;
    opacity: 1;
    transform: none;
}

.timeline.visible {
    display: block;
    box-sizing: border-box;
}





/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #DB0F00 transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}


/* NOS INFOS */

.infos {
    display: none;
}

.infos h2 {
    color: black;
}

.infos.visible {
    display: block;
}


/* MEMBRE DU CLUB  */

/* Style de base pour la mise en page */

.direction,
.coachs,
.dirigeant,
.infra {
    display: none;
}

.direction.visible,
.coachs.visible,
.dirigeant.visible,
.infra.visible {
    display: block;
}


/* Style de base pour la mise en page */
.organisation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour chaque poste */
.organisation h2,
.organisation h3 {
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px 0;
    color: black;
    width: 250px;
    text-align: center;
}

.president,
.vice_pre,
.secrétaire,
.trésorier,
.membre_conseil,
.secret_adjoint {
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 1.5) 1px 1px 22px;
    /* Ajoute une ombre avec un flou de 10px */
}

.president h2,
.vice_pre h2,
.secrétaire h2,
.trésorier h2,
.membre_conseil h2,
.secret_adjoint h2 {
    margin: 0;
    text-decoration: underline;
}

.president h3,
.vice_pre h3,
.secrétaire h3,
.trésorier h3,
.membre_conseil h3,
.secret_adjoint h3 {
    margin: 0;
    text-transform: uppercase;
    color: #DB0F00;
}

.vice_pre img,
.secrétaire img,
.trésorier img,
.membre_conseil img,
.secret_adjoint img {
    height: 272px;
    width: 250px;
}

/* .president::after {
    content: '';
    position: absolute;
    bottom: -193px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 204px;
    background-color: black;
} */

.secret_adj,
.responsable,
.vice_secret {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

hr {
    height: 2px;
    width: 250px;
    color: black;
    background-color: black;
}



.secrétaire .secrétaire_adj {
    display: none;
}



/* COACHS */

.coachs {
    background-color: #DB0F00;
}

.coachs h1 {
    color: white;
    text-align: center;
    padding: 35px;
}

.entraineur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DB0F00;
}

.coachs h2 {
    color: black;
    text-align: center;
}

.coachs h3 {
    color: #DB0F00;
    text-align: center;
}

.coachs h4 {
    color: deepskyblue;
    text-align: center;
}

.coachs img {
    height: 272px;
    width: 250px;
    border-radius: 16px 16px 0 0;
}

.coachs .txt {
    background-color: white;
}

.les_coachs {
    margin: 15px;
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
}


/* LES DIRIGEANTS */

.dirigeant h1 {
    color: #DB0F00;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.dirigeant .all_dirigeant h2 {
    color: white;
    text-align: center;
}

.dirigeant .all_dirigeant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dirigeant h1 {
    font-size: 2.2em;
    text-align: center;
}

/* // base */
.dirigeant .flip {
    position: relative;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

/* // custom */
.dirigeant .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 4em;
    /* height: 272px; */
    width: 250px;

    >.front,
    >.back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 251px;
        width: 206px;
        padding: 1em 2em;
        background: #DB0F00;
        border-radius: 10px;

        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: white;
        }
    }
}

.dirigeant .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/* FLIP CARD */


/* LES INFRASTRUCTURES */

.infra img {
    width: 300px;
    height: 350px;
}