/* HEADER */ 

header {
    position: fixed;
    background-color: #DB0F00;
    width: 100%;
    z-index: 1000;
    transition: color 0.3s;
    height: 70px;
}

header .nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
}

header li {
    list-style-type: none;
}

header .menu_logo li,
header .menu_contact li {
    list-style-type: none;
    /* width: 14%; */
    color: white;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(to right,
            white,
            white 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

header .menu_logo li:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

header .menu_logo .logo-container:before {
    content: none;
}

header .menu_contact li:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

header .menu_logo li:hover {
    background-position: 0;
}


header .menu_logo li:hover::before {
    width: 100%;
}

header .menu_contact li:hover::before {
    width: 100%;
}

header .menu_contact li:hover {
    background-position: 0;
}

header .logo_mobile {
    display: none;
}

header ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;

}

header ul li.logo {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

header ul li .logo {
    top: 11px;
    height: 80px;
    width: 65px;
    padding: 10px;
    position: relative;
    transform: skew(-33deg);
}

header .menu_logo li {
    margin: 10px;
    list-style-type: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* span{
    position: absolute;
  } */

.logo-parallelogram {
    display: inline-block;
    padding: 10px;
    background-color: #DB0F00;
    border: 2px solid white;
    /* Couleur de fond du parallélogramme */
    color: #fff;
    /* Couleur du texte */
    transform: skew(35deg);
    /* Transformation pour créer un parallélogramme */
}

header span {
    position: relative;
}

/* .nav {
    display: none;
} */

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    padding: 0px;
    background-color: #DB0F00;
}

.logo svg {
    width: 32px;
    height: 32px;
}

.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 30 px;
}

.navigation>li {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right,
            white,
            white 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navigation>li:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.navigation>li:hover {
    background-position: 0;
}

.navigation>li:hover::before {
    width: 100%;
}

.menu-icon {
    display: none;
}

.navigation {
    display: none;
}

.menu-icon {
    display: block;
}

.navigation--mobile {
    top: 93px;
    position: absolute;
    right: 0px;
    display: flex;
    padding: 80px 0px;
    min-height: 100%;
    /* height: 100%; */
    background-color: #DB0F00;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    animation: fadein 0.3s forwards;
    font-size: 42px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: calc(100vh - 93px);
        /* height: 100%; */
    }
}

.navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        width: 100%;
        height: calc(100vh - 93px);
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* Fin HEADER */