body {
    /* background-color: rgb(233, 229, 229); */
    /* font-family: Helvetica, Arial, Lucida, sans-serif; */
    font-weight: bold;
    /* font-size: 14px; */
    padding: 0px;
    margin: 0px;
}

/* Début MAIN */

main .title {
    padding: 20px;
}

main .title h1 {
    color: #DB0F00;
    text-align: center;
    font-family: sans-serif;
    margin-top: 95px;
}

main .title img {
    height: 120px;
    width: 90px;
    display: block;
    margin: auto;
}

main .content {
    position: relative;
    z-index: 1;
}

/* Carroussel */

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 660px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.swiper {
    --swiper-theme-color: #DB0F00;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
}

.swiper-pagination {
    position: static;
    margin-top: 10px;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.swiper-slide:hover img {
    filter: grayscale(1) brightness(0.4);
}

.swiper-slide:hover::after {
    opacity: 1;
    inset: 20px;
}

.swiper .swiper-slide .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.swiper .swiper-slide .content h2,
.swiper .swiper-slide .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}

.swiper .swiper-slide .content h2 {
    margin-bottom: 8px;
    scale: 0.7;
    text-transform: uppercase;
    color: #DB0F00;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0px;
}

.swiper .swiper-slide .content p {
    font-size: 14px;
    color: #d1d1d1;
    transform: translateY(50%);
    font-family: sans-serif;
    line-height: 20px;
}

.swiper .swiper-slide:hover .content h2 {
    scale: 1;
    opacity: 1;
}

.swiper .swiper-slide:hover .content p {
    opacity: 1;
    transform: translateY(0);
}


/* FIN CARROUSSEL */


main .senior .stat {
    display: flex;
}

main .senior .stat iframe {
    padding: 10px;
}

main .btn {
    text-align: center;
    margin: 35px;
}

main .btn a {
    color: #DB0F00;
    border: 2px solid #DB0F00;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #fff;
}

main .btn a:hover {
    color: #fff;
    background-color: #DB0F00;
}

/* Parallaxe */


/* TEST */
.title-container {
    position: relative;
    display: flex;
    align-items: center;
}

.bar {
    flex-grow: 1;
    height: 1px;
    background-color: #DB0F00;
    /* Couleur de la barre */
}

.second_title {
    margin: 20px 10px;
    /* Marge autour du titre pour l'espacement */
    font-size: 24px;
    color: #DB0F00;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid #DB0F00;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

/* **************************************** */

/* 1 */

/* **************************************** */

.row {
    display: flex;
}

.row h1 {
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
}

.tdimension {
    width: 300px;
    height: 300px;
    margin: 0px auto 40px auto;
    perspective: 1000px;
}

.tdimension a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/equipes/u14-d1-poule-c__s6s9bv.jpg");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    transition: all 0.8s;
    text-decoration: none;
}

.tdimension:hover a {
    transform: rotateX(20deg);
}

.tdimension a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #DB0F00;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

/* **************************************** */

/* 2 */

/* **************************************** */

.tdimension2 {
    width: 300px;
    height: 300px;
    margin: 0px auto 40px auto;
    perspective: 1000px;
}

.tdimension2 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/equipes/u14-niveau-2-poule-unique__s6qwmh.jpg");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    transition: all 0.8s;
    text-decoration: none;
}

.tdimension2:hover a {
    transform: rotateX(20deg);
}

.tdimension2 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    transform: rotateX(90deg);
    transform-origin: bottom;
}

/* **************************************** */

/* 3 */

/* ******************************************* */
.tdimension3 {
    width: 300px;
    height: 300px;
    margin: 0px auto 40px auto;
    perspective: 1000px;
}

.tdimension3 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/equipes/u18-u19-niveau-1-poule-unique__s6qwio.jpg");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    transition: all 0.8s;
    text-decoration: none;
}

.tdimension3:hover a {
    transform: rotateX(20deg);
}

.tdimension3 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #DB0F00;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

main .equipe {
    display: flex;
    justify-content: center;
}

main .equipe a {
    color: #DB0F00;
    border: 2px solid #DB0F00;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #fff;
}

main .equipe a:hover {
    color: #fff;
    background-color: #DB0F00;
}

/* Caroussel partenaire */

.partenaire .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partenaire .swiper-slide img {
    display: block;
    width: 100%;
    max-width: 660px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.partenaire .swiper {
    --swiper-theme-color: #DB0F00;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
}

.partenaire .swiper-pagination {
    position: static;
    margin-top: 10px;
}

.partenaire .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 0px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.partenaire .swiper-slide:hover img {
    filter: none;
}


/* La boutique */

main .img_boutique img {
    width: 100%;
}


/* PAGES LES EQUIPES */

#equipes h1 {
    text-align: center;
    color: #DB0F00;
    font-family: sans-serif;
    text-transform: uppercase;
}
