body {
    background-color: rgb(233, 229, 229);
    /* font-family: Helvetica, Arial, Lucida, sans-serif; */
    font-weight: bold;
    /* font-size: 14px; */
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    background-color: #DB0F00;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 0 20px;
}


header img {
    width: 90px;
    height: 120px;
    margin: 12px;
}

header .site-name {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 24px;
}

.left-section,
.center-section,
.right-section {
    display: flex;
    align-items: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    margin-right: 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}


/* Fin HEADER */

/* Début MAIN */

main .title {
    padding: 20px;
    /* height: 400px; 
    background-image: url('../img/couche_soleil.jpg'); 
    background-size: cover;
    background-position: 0% 64%;
    filter: brightness(0.8); */
}

main .title h1 {
    color: #DB0F00;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0;
}

main .title img {
    height: 120px;
    width: 90px;
    display: block;
    margin: auto;
}

main .content {
    position: relative;
    z-index: 1;
}

/* Carroussel */

/* .swiper {
    max-width: 800px;
    aspect-ratio: 16/9;
} */

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 660px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.swiper {
    --swiper-theme-color: #DB0F00;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
}

.swiper-pagination{
    position: static;
    margin-top: 10px;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

 .swiper-slide:hover img {
    filter: grayscale(1) brightness(0.4);
}

 .swiper-slide:hover::after {
    opacity: 1;
    inset: 20px;
}

.swiper .swiper-slide .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.swiper .swiper-slide .content h2,
.swiper .swiper-slide .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}

.swiper .swiper-slide .content h2 {
    margin-bottom: 8px;
    scale: 0.7;
    text-transform: uppercase;
}

.swiper .swiper-slide .content p {
    font-size: 14px;
    color: #d1d1d1;
    transform: translateY(50%);
    font-family: sans-serif;
    line-height: 20px;
}

.swiper .swiper-slide:hover .content h2 {
    scale: 1;
    opacity: 1;
    color: #DB0F00;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0px;
}

.swiper .swiper-slide:hover .content p {
    opacity: 1;
    transform: translateY(0);
}


/* FIN CARROUSSEL */

main .senior h1{
    color: #DB0F00;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 4px solid #DB0F00;
    font-weight: 700;
    padding: 10px;
    width: 305px;
    margin: auto;
    /* line-height: 1.9px; */
    border-radius: 12px;
}
main .senior .stat{
    display: flex;
}

main .senior .stat iframe{
    padding: 10px;
}

/* Parallaxe */

/* TEST */
.title-container {
    position: relative;
    display: flex;
    align-items: center;
}

.bar {
    flex-grow: 1;
    height: 1px;
    background-color: #DB0F00; /* Couleur de la barre */
}

.title {
    margin: 0 10px; /* Marge autour du titre pour l'espacement */
    font-size: 24px;
    color: #DB0F00;
    font-family: sans-serif;
    text-transform: uppercase;
}