<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe u11</title>
    <link rel="stylesheet" href="../../css/equipe/u11.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <nav id="navbar" class="nav">

            <ul class="menu_burger">
                <li>
                    <a href="#">
                        <img class="menu-icon" src="../../img/burger-menu.svg" width="51px" title='Burger Menu'
                            alt='Burger Menu' onclick="toggleMenu()">
                        <span id="menuText">Menu</span>
                        <span id="menuFermer" style="display: none;">Fermer</span>
                    </a>
                </li>

            </ul>
            <ul class="menu_logo">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="../../club.html">Le club</a></li>
                <li class="logo-container">
                    <a href="../../index.html">
                        <span class="logo-parallelogram">
                            <img class="logo" src="../../img/logo.png" alt="Logo" height="120px" width="100px">
                        </span>
                    </a>
                </li>
                <li><a href="../../equipe.html">Équipes</a></li>
                <li><a href="https://team.jako.fr/fr/team/as_templeuve/" target="_blank">La Boutique</a></li>
            </ul>
            <ul class="menu_contact">

                <li><a href="../../contact.html">Contact</a></li>
            </ul>

            <ul class="navigation">
                <li><a href="#">Actualités</a></li>
                <li><a href="../../equipe.html">Equipes</a></li>
                <li><a href="../../club.html">Le club</a></li>
                <li><a href="https://team.jako.fr/fr/team/as_templeuve/" target="_blank">La boutique</a></li>
                <li><a href="../../contact.html">Contact</a></li>
                <li><a href="#">Evènements</a></li>
                <li><a href="#">Compétition</a></li>
                <li><a href="#">Le staff</a></li>
                <li><a href="#">Le stade</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="title">
            <div class="content">
                <h1>U11</h1>
                <h1 class="AST">
                    <!-- l'<span class="black-text">A</span>ssociation
                    <span class="black-text">S</span>portive de
                    <span class="black-text">T</span>empleuve -->
                    Niveau 1 Poule D <br>
                </h1>
                <!-- <h3>Site officiel</h3> -->
                <a href="#test">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path
                            d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
                    </svg>
                </a>
            </div>
        </div>

        <div id="test"></div>

        <div class="title-container">
            <div class="bar"></div>
            <h1 class="second_title">Informations</h1>
            <div class="bar"></div>
        </div>

        <div class="stat">
            <iframe id="6605c3255ff32008cebfb41d" height="300"
                src="https://v1.scorenco.com/widget/6605c3255ff32008cebfb41d/"
                style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px; height: 100vh;"></iframe>
        </div>

        <!-- STAFF TECHNIQUE -->

        <div class="title-container">
            <div class="bar"></div>
            <h1 class="second_title">Le Staff Technique</h1>
            <div class="bar"></div>
        </div>

        <div class="staff_technique">
            <div class="les_coachs">
                <img src="../../img/coachs/mick-chretien__rzgu45.png" alt="Entraineur">
                <h2>Mick Chrétien</h2>
                <h3>Entraineur</h3>
            </div>
            <div class="les_coachs">
                <img src="../../img/Dirigeant/maxime-corbanie__rxwen8.png" alt="Dirigeant">
                <h2>Maxime Corbanie</h2>
                <h3>Dirigeant</h3>
            </div>
            <div class="les_coachs">
                <img src="../../img/Personnel/adrien-loock__s1156f.jpg" alt="Dirigeant">
                <h2>Adrien Loock</h2>
                <h3>Dirigeant</h3>
            </div>
            <div class="les_coachs">
                <img src="../../img/Dirigeant/amar-miloudi__s1156f.png" alt="Dirigeant">
                <h2>Amar Miloudi</h2>
                <h3>Dirigeant</h3>
            </div>
        </div>

        <div class="bar"></div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">
            <div class="logo_icon">
                <img src="../../img/logo dim.png" alt="Logo AST">
                <ul class="wrapper">
                    <li class="icon facebook" id="facebookIcon">
                        <span class="tooltip">Facebook</span>
                        <span class="logo_social"><i class="fab fa-facebook-f"></i></span>
                    </li>
                    <li class="icon twitter" id="twitterIcon">
                        <span class="tooltip">Twitter</span>
                        <span class="logo_social"><i class="fab fa-twitter"></i></span>
                    </li>
                    <li class="icon instagram" id="instagramIcon">
                        <span class="tooltip">Instagram</span>
                        <span class="logo_social"><i class="fab fa-instagram"></i></span>
                    </li>
                    <li class="icon tiktok" id="tiktokIcon">
                        <span class="tooltip">Tik Tok</span>
                        <span class="logo_social"><i class="fab fa-tiktok"></i></span>
                    </li>
                    <li class="icon youtube" id="youtubeIcon">
                        <span class="tooltip">Youtube</span>
                        <span class="logo_social"><i class="fab fa-youtube"></i></span>
                    </li>
                </ul>
            </div>
            <div class="liens">
                <ul>
                    <h3>liens Utiles</h3>
                    <li><a href="#">Notre Actualités</a></li>
                    <li><a href="equipe.html">Nos équipes</a></li>
                    <li><a href="club.html">Le club</a></li>
                    <li><a href="https://team.jako.fr/fr/team/as_templeuve/">La boutique</a></li>
                    <li><a href="#">Nos partenaires</a></li>
                </ul>
            </div>
            <div class="info">

                <ul>
                    <h3>Informations</h3>
                    <li><a href="club.html">Qui sommes-nous ?</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../../js/equipe.js"></script>
</body>

</html>