<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .classement .iframe {
            display: none;
        }
    </style>
    </head>

    <body>

        <div class="navbar">
            <a href="#" onclick="showIframe('6597e8e313509708cbfbf558')">Senior M1</a>
            <a href="#" onclick="showIframe('6609ab5b55f08e08cb1cfe26')">Senior M2</a>
            <a href="#" onclick="showIframe('6609ab9a55f08e08cd628420')">U18 M1</a>
            <a href="#" onclick="showIframe('6609accb55f08e08cd62842b')">U15 M1</a>
            <a href="#" onclick="showIframe('6609acf1608c0c08d2f9dbfb')">U14 M1</a>
            <a href="#" onclick="showIframe('6609ad2e608c0c08d2f9dbff')">U14 M2</a>
            <a href="#" onclick="showIframe('6609ad8855f08e08cd628435')">U13 M1</a>
            <a href="#" onclick="showIframe('6609adb2d268510f4062d377')">U13 M2</a>
            <a href="#" onclick="showIframe('6609add555f08e08d2296bd6')">U12 M1</a>
            <a href="#" onclick="showIframe('6609adfe49680308d1caddf5')">U12 M2</a>
            <a href="#" onclick="showIframe('6609ae2b55f08e08d12d23e3')">U11 M1</a>
            <a href="#" onclick="showIframe('6609ae4d49680308cb776bd8')">U10 M1</a>
            <a href="#" onclick="showIframe('6609ae68d268510f3b7211bc')">U10 M2</a>
            <a href="#" onclick="showIframe('6609ae7d55f08e08cb1cfe4e')">Vétérans</a>
            <a href="#" onclick="showIframe('6609ae9d6052af08ce1e7c4f')">Loisir M1</a>

        </div>
        <div class="classement">
            <iframe id="6597e8e313509708cbfbf558" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6597e8e313509708cbfbf558/"
                style="width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ab5b55f08e08cb1cfe26" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ab5b55f08e08cb1cfe26/"
                style="width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ab9a55f08e08cd628420" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ab9a55f08e08cd628420/"
                style="width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609accb55f08e08cd62842b" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609accb55f08e08cd62842b/"
                style="width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609acf1608c0c08d2f9dbfb" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609acf1608c0c08d2f9dbfb/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ad2e608c0c08d2f9dbff" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ad2e608c0c08d2f9dbff/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ad8855f08e08cd628435" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ad8855f08e08cd628435/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609adb2d268510f4062d377" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609adb2d268510f4062d377/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609add555f08e08d2296bd6" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609add555f08e08d2296bd6/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609adfe49680308d1caddf5" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609adfe49680308d1caddf5/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ae2b55f08e08d12d23e3" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ae2b55f08e08d12d23e3/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ae4d49680308cb776bd8" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ae4d49680308cb776bd8/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ae68d268510f3b7211bc" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ae68d268510f3b7211bc/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ae7d55f08e08cb1cfe4e" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ae7d55f08e08cb1cfe4e/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>
            <iframe id="6609ae9d6052af08ce1e7c4f" height="300" class="iframe"
                src="https://v1.scorenco.com/widget/6609ae9d6052af08ce1e7c4f/"
                style=" width: 100%; overflow: auto; margin: auto; border-width: 0px;">
            </iframe>



        </div>

    </body>


    <script src="js.js"></script>

</html>